<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    displayDetailsOnPhpunitDeprecations="true"
    bootstrap="./test/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>./test/PhproTest/SoapClient/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>./test/PhproTest/SoapClient/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
